<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Field {{field_name}}</title>
</head>
<body>
    <h1>Field {{field_name}}</h1>
    {% for field in fields %}
        <p>Year: {{field[0]['year']}}</p>
        <p>Crop: {{field[2]['crop_name']}}</p>
        <p>Yield: {{field[0]['harvest_yield']}}</p>
        <hr>
    {% endfor %}
</body>
</html>